/************************************
          General
************************************/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  border: none;
  outline: none;
}

textarea:focus {
  border: none;
}

/************************************
          Header
************************************/

header {
  height: auto;
  padding: 20px;
  width: 100%;
  background-color: #e5f3f2;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  margin: auto;
  background: #e5f3f2;
}

.task {
  margin: 10px 0 20px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  color: #00a79d;
}

.box {
  color: #6d6e71;
}

.input-title {
  display: block;
  height: 40px;
  width: 95%;
  margin: 0 0 15px 0;
  border: 2px solid #d1d3d4;
  color: #6d6e71;
  font-size: 25px;
  letter-spacing: 0.8px;
}

.input-body {
  height: 120px;
  width: 95%;
  margin: 0 0 15px 0;
  resize: none;
  color: #6d6e71;
  border: 2px solid #d1d3d4;
  font-size: 25px;
  letter-spacing: 0.8px;
}

input::placeholder,
textarea::placeholder {
  opacity: .8;
  color: #939598;
}

.save-button,
.show-completed {
  display: block;
  width: 95%;
  height: 40px;
  margin: 0 0 15px 0;
  color: #fff;
  border: none;
  background: #00a79d;
  font-size: 20px;
  letter-spacing: 0.8px;
  text-decoration: none;
}

button:active {
  outline: none;
}

.save-button:hover {
  background: #045e55;
}

.save-button:disabled,
.show-completed:disabled {
  background-color: #939598;
}

/************************************
          Main
************************************/

main {
  width: 100%;
  height: auto;
  padding: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.importance-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 10px 0;
}

.search-container button {
  background: #00a79d;
  border: 2px solid #00a79d;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}

.search-input {
  display: block;
  width: 95%;
  height: 40px;
  margin: auto;
  margin-bottom: 40px;
  border: solid 2px #d1d3d4;
  color: #939598;
  font-size: 25px;
  letter-spacing: 0.8px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************************************
          Idea card layout
************************************/

.task-card {
  width: 95%;
  margin: auto;
}

.task-title {
  display: inline-block;
  width: 75%;
  padding-bottom: 20px;
  color: #6d6e71;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completed-task {
  float: right;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  padding: 0;
  border: none;
  background: none;
  background-image: url('assets/success.png');
  background-repeat: round;
}

.complete {
  color: #888;
  opacity: 0.3;
  text-decoration: line-through;
}

.delete-button {
  float: right;
  width: 29px;
  height: 29px;
  padding: 0;
  border: none;
  background: none;
  background-image: url('assets/delete.svg');
  background-repeat: round;
}

.delete-button:hover {
  background-image: url('assets/delete-hover.svg');
}

.task-body {
  width: 90%;
  height: 100px;
  margin-bottom: 10px;
  padding: 3px 0;
  resize: none;
  border: none;
  color: #939598;
  font-size: 20px;
  line-height: 1.2;
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.arrow-up,
.arrow-down {
  display: inline;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 0;
  border: none;
  background: none;
  background-repeat: round;
}

.arrow-up {
  background-image: url('assets/upvote.svg');
}

.arrow-down {
  background-image: url('assets/downvote.svg');
}

.arrow-up:hover {
  background-image: url('assets/upvote-hover.svg');
}

.arrow-down:hover {
  background-image: url('assets/downvote-hover.svg');
}

.importance,
.importance-value {
  display: inline-block;
  color: #6d6e71;
  font-size: 16px;
}

hr {
  height: 2px;
  margin: 10px 0;
  color: #d1d3d4;
  border: none;
  background-color: #d1d3d4;
}

/***************************************
media query 490
****************************************/

@media screen and (min-width: 490px) {

  .input-title,
  .input-body,
  .save-button,
  .show-completed,
  .importance-btns,
  .search-input,
  .task-card {
    width: 80%;
  }
}
/***************************************
media query 665
****************************************/

@media screen and (min-width: 665px) {

  .input-title,
  .input-body,
  .save-button,
  .show-completed,
  .search-input,
  .task-card {
    width: 60%;
  }

  .importance-btns {
    width: 55%;
  }

  .search-container button {
    font-size: 16px;
  }
}

/***************************************
media query 980
****************************************/

@media screen and (min-width: 980px) {

  .input-title,
  .input-body,
  .save-button,
  .show-completed,
  .search-input,
  .task-card {
    width: 50%;
  }

  .importance-btns {
    width: 40%;
  }

  .task-title,
  .task-body,
  .save-button,
  .show-completed,
  .search-input {
    font-size: 30px;
  }

  .task,
  .box {
    font-size: 50px;
  }

  .importance,
  .importance-value,
  .task-body {
    font-size: 25px;
  }
}
